<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="pp-app-header">
            <ion-icon name="file-tray-stacked">
            </ion-icon>
            <ion-title class="p-title-default">
                {{ 'tabs_available_favors.title' | translate}}
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding [routerLink]="'favor-detail'" *ngFor="let favor of favorsResultSet?.content">
            <ion-item>
                <div class="favor-item">
                    <ion-icon src="assets/svg-icons/route.svg"></ion-icon>
                    <ion-img src="assets/imgs/arrow.png" class="favor-item__arrow"></ion-img>
                    <ion-label class="favor-item__reward">$20.000</ion-label>
                    <ion-label class="favor-item__distance">10Km</ion-label>
                    <ion-label class="favor-item__time">50min</ion-label>
                    <!--<ion-label>{{favor.name}}</ion-label>
                    <ion-text>{{favor.description}}</ion-text>-->
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="takeFavor(favor)">Take</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!--<button [routerLink]="'favor-detail'"> view detail</button>-->

</ion-content>
