@import '../../theme/variables.scss';

.favor-item {
  display: flex;
  background: #ff000038;
  height: 100%;
  width: 100%;
  align-items: center;

  &__icon {
    width: 10%;
  }

  &__arrow {
    width: 10%;
  }

  &__reward {
    height: 100%;
    background:  var(--ion-color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 30%;
  }

  &__distance {
    height: 100%;
    background: var(--ion-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    width: 25%;
  }

  &__time {
    height: 100%;
    background: #46cb9c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 25%;
  }

  &:hover {
    cursor: pointer;
  }
}
