<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="current-favor">
            <ion-icon name="file-tray"></ion-icon>
            <ion-label>{{ 'tabs_current_favor.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="available-favors">
            <ion-icon name="file-tray-stacked"></ion-icon>
            <ion-label>{{ 'tabs_available_favors.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>{{ 'tabs_home.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="summary">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>{{ 'tabs_summary.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help">
            <ion-icon name="help-circle"></ion-icon>
            <ion-label>{{ 'tabs_help.title' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
