@import '../theme/variables.scss';

body {
  margin: 0;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
}

* {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  outline: none;
}

.pp-app {
  p {
    margin: 0;
  }

  .pp-app-text-link {
    text-decoration: underline;
    margin: var(--app-space-stack-m);
    font-size: var(--app-font-size-caption);
    cursor: pointer;
    z-index: 1;
    transition: all ease-in-out 0.5s;

    &:hover {
      color: var(--ion-color-tertiary-shade);
      font-weight: bold;
    }
  }

  .pp-app-button-l {
    --padding-start: var(--app-space-inset-l);
    --padding-end: var(--app-space-inset-l);
    --padding-top: var(--app-space-inset-l);
    --padding-bottom: var(--app-space-inset-l);
    font-size: var(--app-font-size-body-small);
    height: 4.8rem;
  }

  .pp-app-button-m {
    --padding-start: var(--app-space-inset-m);
    --padding-end: var(--app-space-inset-m);
    --padding-top: var(--app-space-inset-m);
    --padding-bottom: var(--app-space-inset-m);
    font-size: var(--app-font-size-body-small);
  }

  .p-title-default {
    font-family: 'UnicaOne', Helvetica, Arial sans-serif;
  }

  .p-title-parceros {
    font-family: 'UnicaOne', Helvetica, Arial sans-serif;
    color:  var(--ion-color-tertiary-tint);
    font-size: var(--app-font-size-subheading);
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .tap-bar-parceros{
    background: var(--ion-color-light-shade);
  }

  .icon-menu {
    background: #2dd36f;
  }

  .button {
    text-transform: none;
  }

  .item-input {
    font-size: var(--app-font-size-subheading);
    --highlight-background: var(--ion-color-tertiary-tint);
  }

  .label-stacked {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: var(--app-font-size-body);
  }

}
