<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="pp-app-header">
            <ion-icon name="home">
            </ion-icon>
            <ion-title class="p-title-default">
                {{ 'tabs_home.title' | translate}}
            </ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>
        <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark Theme</ion-label>
            <ion-toggle slot="end"
                        [ngModel]="darkMode"
                        (ionChange)="changeMode($event)"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Work radius</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="brown">+1k</ion-select-option>
                <ion-select-option value="blonde">+2k</ion-select-option>
                <ion-select-option value="black">+5km</ion-select-option>
                <ion-select-option value="red">+10km</ion-select-option>
            </ion-select>
        </ion-item>

        <p class="test-log">{{testLog}}</p>
    </ion-list>

</ion-content>
