@import '../../../theme/variables.scss';

.terms-and-conditions {
  &__header {
    background: rgba(var(--ion-color-primary-rgb), 0.1);
    display: flex;
    height: 40%;
    padding: var(--app-space-inset-m);
    font-size: var(--app-font-size-body);
  }

  &__header-content {
    align-self: flex-end;

    p {
      display: block;
    }
  }

  &__header-title {
    font-size: var(--app-font-size-title);
    font-family: var(--app-font-family-secondary);
    color: var(--ion-color-tertiary);
    font-weight: 800;
  }

  &__content {
    height: 60%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--app-space-inset-m) var(--app-space-inset-m) var(--app-space-inset-m) var(--app-space-inset-m);
    font-size: var(--app-font-size-body);

    p {
      text-align: center;
    }

    &::before {
      content: "";
      background-image: url('../../../assets/imgs/town.png');
      background-repeat: no-repeat no-repeat;
      background-size: 100% auto;
      background-position: center bottom -13px;
      height: auto;
      width: 100%;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
}
