<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="phone-register__header">
        <ion-icon name="arrow-back"
                  [routerLink]="['../terms-and-conditions']">
        </ion-icon>
        <ion-title class="p-title-default">
            {{ 'app_title' | translate}}
        </ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="phone-register__content pp-app-content">
        <p class="phone-register__content-title">  {{ 'register.phone_register.title' | translate}}</p>
        <p>  {{ 'register.phone_register.comment' | translate}}</p>

        <ion-item>
            <ion-label>+57</ion-label>
            <ion-input type="tel"
                       required
                       maxlength="10"
                       placeholder="XXX XXX XXXX"
                       [(ngModel)]="phoneNumber"></ion-input>
        </ion-item>

        <ion-button (click)="sendPhone()"
                    color="tertiary"
                    class="pp-app-button-l">
            {{'register.phone_register.action_name' | translate}}
        </ion-button>
    </div>
</ion-content>
