@import '../../../theme/variables.scss';

.favor-item {
  display: flex;
  /*background: #ff000038;*/
  height: 100%;
  width: 100%;
  align-items: center;
  color: #8D8D9D;
  font-size: var(--app-font-size-body);
  padding: var(--app-space-inset-m) var(--app-space-inset-xs);

  &__icon {
    width: 20%;
    color: var(--ion-color-secondary-tint);
    /*color: rgb(160, 167, 203);*/
    font-size: 32px;
  }

  &__link {
    width: 10%;
  }

  &__reward {
    height: 100%;
    /*background: var(--ion-color-tertiary);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 30%;
  }

  &__distance {
    height: 100%;
    /* background: var(--ion-color-secondary);*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    width: 25%;
  }

  &__time {
    height: 100%;
    /*background: #46cb9c;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 25%;
  }

  &:hover {
    cursor: pointer;
  }
}
